.header{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 160px;
}
.header__logo{
    text-align: center;
}
.header__logo a img{
    width: 200px;
}
.header__menu{
    display: flex;
    flex-direction: row;
}
.header__menu__block{   
    width: 50%; 
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.header__menu__block_item{
    position: relative;
    margin: 3px 10px;
}
.header__menu__block_item a{
    position: relative;
    color: azure;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}
.header__menu__block_item a span{    
    position: absolute;
    bottom: -3px;
    left: 50%;    
    width: 0;
    height: 1px;
    background: azure;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.header__menu__block_item a:hover span{
    opacity: 1;
    width: 100%;
    left: 0;
}